git+https://github.com/SaulLu/vqgan-jax@create-package 
git+https://github.com/deepmind/dm_pix
numpy==1.19.5
jax==0.2.17
optax==0.0.9
wandb==0.11.2
flax==0.3.4
transformers==4.9.1
torchvision==0.10.0+cu102
dataclasses
Pillow==8.3.1